{% load url from future %}
{% load analytical %}
{% load codalab_tags %}
{% load compress %}

<!DOCTYPE html>
<html class="no-js" {% block custom_html_attributes %}{% endblock %} lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="globalsign-domain-verification" content="1lsowFdlUrrtcRyvAiFS11btFe-ChVU8h2FmxHw7sD" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    {% block meta %}
    {% endblock %}

    <title>CodaLab - {% block head_title %}{% endblock %}</title>

    {% block css %}
        <!--
        Read CSS that hides / shows buttons depending on whether the user is
        logged in or not, and fills in the user name. Add a timestamp to prevent
        caching.
        -->
        <link rel="stylesheet" href="/rest/account/css?={% now "U" %}">
        <!-- Included CSS Files (Compressed) -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-editable.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/select2/dist/css/select2.min.css" />
        {% if compile_less %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/imports.css">
        {% else %}
            <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/imports.less">
            <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
        {% endif %}

        <script src="{{ STATIC_URL }}bower_components/jquery/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/custom/custom.modernizr.js"></script>
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock css %}

    {% block extra_headers %}
    {% endblock extra_headers %}

    {% analytical_head_top %}
    {% analytical_head_bottom %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}


    <script type="text/javascript">

    </script>
</head>

<body {% block custom_body_attributes %}{% endblock %}>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block title %}
                    <a class="navbar-brand" href="/" tabIndex=1 target="_self"><img src="{{STATIC_URL}}img/codalab-logo.png" alt="Home"></a>
                {% endblock title %}
            </div>
            {% block top_bar_right_menus %}
                <div class="collapse navbar-collapse" id="navbar_collapse">
                    {% if BETA %}
                        <form action="/search" method="get" class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input class="form-control" name="q" type="search" placeholder="Search">
                            </div>
                        </form>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/rest/worksheets/?name=home" tabIndex=2 target="_self">Public Home</a></li>
                        <li class="user-authenticated">
                          <a href="/rest/worksheets/?name=%2F" tabIndex=2 target="_self">My Home</a>
                        </li>
                        <li class="user-authenticated">
                          <a href="/rest/worksheets/?name=dashboard" tabIndex=2 target="_self">My Dashboard</a>
                        </li>
                        <li>
                          <a href="https://github.com/codalab/codalab-worksheets/wiki" target="_blank">Help</a>
                        </li>
                        <li class="user-authenticated dropdown {% active request '/accounts/' %}">
                            <a>
                                <img src="{{ STATIC_URL }}img/icon_mini_avatar.png" class="mini-avatar"> <span class="user-name"></span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/rest/account/logout?redirect_uri={{request.path|urlencode:""}}" target="_self">Sign Out</a></li>
                            </ul>
                        </li>
                        <li class="user-not-authenticated">
                            <a href="{% url 'account_signup' %}" target="_self">Sign Up</a>
                        </li>
                        <li class="user-not-authenticated">
                            <a href="{% url 'account_login' %}?next={{request.path|urlencode:""}}" target="_self">Sign In</a>
                        </li>
                    </ul>
                </div>
            {% endblock top_bar_right_menus %}
        </div>
    </nav>

    {% block nosubheader %}
        {% block subheader %}
            <div class="page-header">
                <div class="container">
                    <h1>{% block page_title %}{% endblock page_title %}</h1>
                </div>
            </div>
        {% endblock subheader %}
    {% endblock nosubheader %}

    {% block hero_subheader %}
    {% endblock hero_subheader %}

    {% block content_wrapper %}
        <div class="{% if stretch_100_percent_width %}container-fluid{% else %}container{% endif %}" style="padding-bottom: 40px;">
            {% block content %}
            {% endblock content %}
        </div>
    {% endblock content_wrapper %}

    <footer class="navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/codalab/codalab-worksheets/wiki/Project_About_CodaLab" target="_blank">About</a></li>
                <li><a href="https://github.com/codalab/codalab-worksheets/wiki/Privacy" target="_blank">Privacy and Terms</a></li>
              <li><a href="https://github.com/codalab/codalab-worksheets/wiki/Worksheet-Features" target="_blank">v{{ CODALAB_VERSION }}</a></li>
            </ul>
        </div>
    </footer>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/select2/dist/js/select2.min.js"></script>
    <script src="{{ STATIC_URL }}lib/jq/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>

    {% block jsincludes %}
    {% endblock jsincludes %}

    {% analytical_body_top %}
    {% analytical_body_bottom %}

</body>
</html>
