{% extends "base.html" %}
{% block custom_body_attributes %}{% endblock %}
{% block head_title %}Worksheet{% endblock head_title %}
{% block meta %}
    <meta property="og:title" content="Worksheet">
    <meta property="og:site_name" content="CodaLab">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ request.META.HTTP_HOST }}{{STATIC_URL}}img/codalab-logo.png">
{% endblock %}
{% block extra_scripts %}
<!-- Read a script that fills in the worksheet title. Add a timestamp to prevent caching. -->
<script src="/rest/titlejs/worksheet/{{ uuid }}/?={% now "U" %}"></script>
{% endblock extra_scripts %}
{% block subheader %}{% endblock subheader %}

{% block content_wrapper %}

<div class="container">
    <div id="worksheet-message" class="ws-detail">
        <img src="{{ STATIC_URL }}img/Preloader_Small.gif" /> Loading worksheet...
    </div>
</div>

<div id="worksheet_container">
    <!-- worksheet html wil go here-->
</div>
<div id="save_progress" class="progress-message">
    <img src="{{ STATIC_URL }}img/Preloader_Small.gif" /> Saving...
</div>
<div id="update_progress" class="progress-message">
    <img src="{{ STATIC_URL }}img/Preloader_Small.gif" /> Updating...
</div>
<div id="save_error" class="progress-message">
    <i class="glyphicon glyphicon-remove-circle"></i> Error saving...
</div>
<div id="glossaryModal" class="modal" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4>Keyboard Shortcuts</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                      <td><kbd>c</kbd></td><td>Focus on web terminal</td>
                    </tr>
                    <tr>
                      <td><kbd>esc</kbd></td><td>Focus on worksheet</td>
                    </tr>
                    <tr>
                      <td><kbd>shift+c</kbd></td><td>Show/hide web terminal</td>
                    </tr>
                    <tr>
                      <td><kbd>e</kbd></td><td>Edit worksheet</td>
                    </tr>
                    <tr>
                      <td><kbd>shift+r</kbd></td><td>Refresh worksheet</td>
                    </tr>
                    <tr>
                      <td><kbd>j</kbd> or <kbd>↓</kbd></td><td>Move cursor down</td>
                    </tr>
                    <tr>
                      <td><kbd>k</kbd> or <kbd>↑</kbd></td><td>Move cursor up</td>
                    </tr>
                    <tr>
                      <td><kbd>shift+g</kbd></td><td>Move to end of worksheet</td>
                    </tr>
                    <tr>
                      <td><kbd>g g</kbd></td><td>Move to beginning of worksheet</td>
                    </tr>
                    <tr>
                      <td><kbd>enter</kbd></td><td>Open current bundle or worksheet (shift: new window)</td>
                    </tr>
                    <tr>
                        <td><kbd>u</kbd></td><td>Paste UUID of current bundle or worksheet into web terminal</td>
                    </tr>
                    <tr>
                        <td><kbd>a</kbd></td><td>Paste arguments to recreate current bundle into web terminal</td>
                    </tr>
                    <tr>
                      <td><kbd>?</kbd></td><td>Show keyboard shortcut help</td>
                    </tr>
                    <tr>
                        <a href="http://terminal.jcubic.pl/api_reference.php" target="_blank"> More shortcuts for web terminal (see Keyboard shortcuts section) </a>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content_wrapper %}


{% block js %}
    {# moved below because the script tag is in base making this block not color code in editors #}
    {{ block.super }}
{% endblock js %}

{% block jsincludes %}
    {% if local_mathjax %}
            <script src="{{ STATIC_URL }}bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% else %}
            <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}

    {% if local_ace_editor %}
            <script src="{{ STATIC_URL }}bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    {% else %}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
    {% endif %}

    {# https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js #}
    <script>
      // Fix for poshytip: https://github.com/vitalets/x-editable/issues/496
      $.fn.poshytip = { defaults: null };
    </script>
    <link href="{{ STATIC_URL }}bower_components/c3/c3.min.css" rel="stylesheet" type="text/css">
    <script src="{{ STATIC_URL }}bower_components/d3/d3.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/c3/c3.min.js"></script>


    <script src="{{ STATIC_URL }}bower_components/marked/marked.min.js"></script>
    <script src="{{ STATIC_URL }}js/custom/html4-defs.js"></script>
    <script src="{{ STATIC_URL }}js/custom/html-sanitizer.js"></script>
    <script src="{{ STATIC_URL }}bower_components/underscore/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/react/react.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/x-editable/dist/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
    <script src="{{ STATIC_URL }}js/custom/jquery.terminal-0.8.8_custom.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/custom/jquery.ui.chatbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.js"></script>

    <script src="{{ STATIC_URL }}dist/button.js"></script>

    <script src="{{ STATIC_URL }}dist/worksheet_utils.js"></script>
    <script src="{{ STATIC_URL }}dist/worksheet_content.js"></script>
    <script src="{{ STATIC_URL }}dist/ws_mousetrap_fork.js"></script>

    <script src="{{ STATIC_URL }}dist/ws_mixins.js"></script>
    {# ------- JSX FILES  ------- #}
    <script src="{{ STATIC_URL }}dist/worksheet_action_bar.js"></script>
    <script src="{{ STATIC_URL }}dist/worksheet_side_panel.js"></script>
    <script src="{{ STATIC_URL }}dist/new_worksheet.js"></script>
    <script src="{{ STATIC_URL }}dist/worksheet_chat_box.js"></script>
    <script src="{{ STATIC_URL }}dist/worksheet_chat_portal.js"></script>
    <script src="{{ STATIC_URL }}dist/faq.js"></script>

    {# bundle type renders/actions #}
    <script src="{{ STATIC_URL }}dist/contents_item_interface.js"></script>
    <script src="{{ STATIC_URL }}dist/html_item_interface.js"></script>
    <script src="{{ STATIC_URL }}dist/image_item_interface.js"></script>
    <script src="{{ STATIC_URL }}dist/graph_item_interface.js"></script>
    <script src="{{ STATIC_URL }}dist/markdown_item_interface.js"></script>
    <script src="{{ STATIC_URL }}dist/record_item_interface.js"></script>
    <script src="{{ STATIC_URL }}dist/table_item_interface.js"></script>
    <script src="{{ STATIC_URL }}dist/worksheet_item_interface.js"></script>
    <script src="{{ STATIC_URL }}dist/bundle_uploader.js"></script>
    <script src="{{ STATIC_URL }}dist/run_bundle_builder.js"></script>
    <script src="{{ STATIC_URL }}dist/editable_field.js"></script>
    {# main entry point for the worksheet and its items/bundles #}
    <script src="{{ STATIC_URL }}dist/worksheet_items.js"></script>
    <script src="{{ STATIC_URL }}dist/worksheet_interface.js"></script>
    {# ------- END JSX FILES  ------- #}

<script>
MathJax.Hub.Config({
    tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
    }
});
</script>

{% endblock jsincludes %}
