{% extends 'base.html' %}
{% block head_title %}Home{% endblock %}
{% block nosubheader %} {% endblock nosubheader %}
{% block title %}{% endblock title %}

{% block hero_subheader %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    <img src="{{STATIC_URL}}img/codalab-logo-white.png" alt="CodaLab" class="img-responsive">
                    <h4><b><i>A collaborative platform for reproducible research.</i></b></h4>
                    <div class="frontpage-buttons">
                        <span class="user-authenticated frontpage-button">
                          <a href="/rest/worksheets/?name=%2F">My Home</a>
                        </span>
                        <span class="user-authenticated frontpage-button">
                          <a href="/rest/worksheets/?name=dashboard">My Dashboard</a>
                        </span>
                        <span class="user-not-authenticated frontpage-button">
                          <a href="/account/signup">Sign Up</a>
                        </span>
                        <span class="user-not-authenticated frontpage-button">
                          <a href="/account/login?next={{request.path|urlencode:""}}">Sign In</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock hero_subheader %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>
            Running 100 experiments in parallel on different versions of your code/data?
            Don't remember how you got that result from 6 months ago?
            CodaLab allows you to run your jobs on a cluster, document and share your experiments,
            all while keeping track of full provenance,
            so you can be a more efficient researcher.
            <p>
            To get started, read more about the <a target="_blank" href="https://github.com/codalab/codalab-worksheets/wiki">mission</a>,
            <a href="/rest/account/signup">sign up</a> for an account,
            and go through the <a target="_blank" href="https://github.com/codalab/codalab-worksheets/wiki/User_CodaLab-Worksheets-Tutorial">tutorial</a> to try it out!
            </p>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <h2 class="frontpage-header">Upload</h2>
            Upload <i><b>co</b></i>de (in any programming language) and <i><b>da</b></i>ta (in any format) to <i><b>Coda</b></i>Lab.
            If you're using the <a target="_blank" href="https://github.com/codalab/codalab-worksheets/wiki/User_Install-CodaLab-CLI">command-line interface (CLI)</a>, type, for example:
            <div class="frontpage-code">
              $ cl upload train.py
            </div>
            This produces an immutable <b>bundle</b>:
            <div class="frontpage-stage">
              <div class="frontpage-bundle-icon bg-blue">train.py</div>
            </div>

            <h2 class="frontpage-header">Run</h2>
            Run any bash shell command, which can depend on previous bundles.
            In the CLI or the web terminal, type, for example:
            <div class="frontpage-code">
              $ cl run :train.py 'python train.py --eta 0.2'
            </div>
            CodaLab records the execution environment using <a target="_blank" href="https://www.docker.com">docker</a> to ensure
            reproducibility, and produces a new bundle:
            <div class="frontpage-stage">
              <div class="frontpage-bundle-icon bg-blue">train.py</div>
              &rarr;
              <div class="frontpage-bundle-icon bg-green">run17</div>
            </div>
            This bundle is added to the global dependency graph over all research assets (see right).

            <h2 class="frontpage-header">Present</h2>
            Create <b>worksheets</b>
            to manage your runs, document your experimental results,
            and publish executable papers.
            Use <a target="_blank" href="https://github.com/codalab/codalab-worksheets/wiki/User_Worksheet-Markdown">CodaLab markdown</a>
            to create custom tables and graphs.

          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-5">
            <div class="frontpage-graphic">
              <img src="{{STATIC_URL}}img/frontpage.png" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div id="sample_worksheets"></div>
          </div>
        </div>

    </div>
{% endblock content %}

{% block jsincludes %}
    <script src="{{ STATIC_URL }}bower_components/react/react.min.js"></script>
    <script src="{{ STATIC_URL }}dist/sample_worksheets_interface.js"></script>
{% endblock jsincludes %}

