{% extends 'web/account/base.html' %}

{% load i18n %}
{% load url from future %}

{% block head_title %}Sign In{% endblock head_title %}
{% block page_title %}Sign In{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <form class="login" method="POST" action="/rest/account/login">
            {% if request.GET.error %}
                <div class="alert alert-error">
                    {{request.GET.error}}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="id_login">Login:</label>
                <input id="id_login" class="form-control" name="username" placeholder="Username or e-mail" type="text" autofocus>
            </div>
            <div class="form-group">
                <label for="id_password">Password:</label>
                <input id="id_password" class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <input type="hidden" name="success_uri" value="{{ request.GET.next }}" />
            <input type="hidden" name="error_uri" value="{{ request.path }}" />
            <button class="btn btn-primary margin-top" type="submit">{% trans "Sign In" %}</button>
        </form>
        <p>
        <p><a href="{% url 'account_signup' %}">Don't have an account? Sign up!</a></p>
        <!-- TODO(sckoo): reimplement password reset
        <p><a href="../password/reset/">Forgot your password?</a></p>
        -->
        <a href="" onclick="alert('Please attempt logging in again to resend confirmation email.'); return false;">Resend confirmation email</a>
    </div>
</div>
{% endblock %}
