{% extends 'web/account/base.html' %}

{% load i18n %}
{% load url from future %}

{% block head_title %}Account Verification Success{% endblock head_title %}
{% block page_title %}Account Verification Success{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Your account has been verified!</h4>
        <p>Check out your <a href="/rest/worksheets/?name=dashboard" tabIndex=2 target="_self">dashboard</a> to get started.</p>
    </div>
</div>
{% endblock %}
